.footer{
  min-height: 150px;
  position: relative;
}

.social__list, .social__item--tg, .social__item--vk, .social__item--fb, .social__item--inst{
  display: inline-flex;
  vertical-align: middle;
}

.contacts__info--footer{
  font-size: 11px;
  font-style: normal;
  color: #9A9A9A;
  text-decoration: none;
  text-align: end;
}

.footer__right{
  display: inline-flex;
  float: right;
}

.social__links {
  padding-top:32px;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.social__list{
  margin-right: 71px;
  padding-top: 35px;
}

.social__list:last-child{
  margin-right: 0px;
}

.social__item--tg .social__links{
  background-image: url(../../img/telegram.png);
}

.social__item--vk .social__links{
  background-image: url(../../img/vk.png);
}

.social__item--fb .social__links{
  background-image: url(../../img/fb.png);
}

.social__item--inst .social__links{
  background-image: url(../../img/insta.png);
}

.container--footer{
  border-top: 1px solid #30444B;
  padding-top: 15px;
}