.header {
  padding-top: 30px;
  margin-bottom: 30px;
}

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right{
  justify-content: flex-end;
}

.menu__item--active .menu__link{
  color: #DA0100;
}