.hello{
  margin-bottom: 246px;
}

.hello__title{
  width: 515px;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 22px;
}

.hello__subtitle{
  margin-bottom: 30px;
  color: #fff;
}

.hello .button {
  padding: 18px 40px;
}

.button:hover{
  background-color: #F5170E;
  color: #fff;
}
