.hello__title{
  margin-top: 120px;
  width: 515px;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}

.hello__subtitle{
  margin-top: 22px;
  color: #fff;
}

.hello .button {
  margin-top: 33px;
  padding: 18px 40px;
}

.button:hover{
  background-color: #F5170E;
  color: #fff;
}
