.news{
  margin-bottom: 145px;
}

.news__header{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}

.news__item{
  display: inline-flex;
  margin-right: 23px;
  vertical-align: top;
  position: relative;
  width: 557px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.news__item:last-child{
  margin-right: 0px;
}

.news__img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.news__content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 242px;
  padding: 10px 30px;
  height: 140px;
}

.news__date{
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}

.news__title{
  font-size: 24px;
  font-style: 700;
  margin-bottom: 5px;
  display: block;
}

.paginator{
  text-align: center;
}

.paginator__display, .paginator__list{
  display: inline-flex;
  vertical-align: middle;
}

.paginator__display{
  margin-right: 25px;
}

.paginator__item{
  display: inline-flex;
  vertical-align: middle;
}

.paginator__item--active .paginator__link{
  background: #fff;
  color: #F5170E;
  line-height: 32px;
}

.paginator__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 700;
}