
.reviews{
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 70px;
}

.review{
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #F4F5F5;
}

.reviews__item{
  margin-bottom: 20px;
}

.review__header{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.avatar{
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 19px;
}

.review__user{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #2E77A4;
  text-decoration: underline;
  margin-bottom: 7px;
}

.review__user:after{
  content: '';
  margin-left: 10px;
  display: block;
  width: 30px; height: 30px;
  background: url('../../img/css_sprites.png') -168px -0px;
}

.review__tags{
  display: flex;
  align-items: flex-start;
} 

.tag{
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  border-radius: 35px;
  background-color: #E7E7E7;
}

.tag--bg--green{
  background-color: #B9EAE4;
}

.review__title{
  font-size: 30px;
  color: #1A1B1E;
  font-weight: 700;
  margin-bottom: 16px;
}

.review__content-text{
  color: #818181;
  margin-bottom: 50px;
}

.review__data{
  font-size: 14px;
  color: #1A1B1E;
  font-weight: 600;
}