.top__container{
  min-height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 19px;
  margin-bottom: 98px;
}

.top__title{
  margin-bottom: 43px;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
}

.breadcrumbs__list{
  display: flex;
  align-items: center;
}

.breadcrumbs__link{
  color: #9A9A9A;
  font-size: 14px;
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link{
  font-weight: 700;
}

.breadcrumbs__item:after{
  content: "/";
  color: #9A9A9A;
  margin-left: 2px;
  margin-right: 2px;
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
}