@import url(./blocks/base.css);
@import url(./blocks/header.css);
@import url(./blocks/hello.css);
@import url(./blocks/offers.css);
@import url(./blocks/news.css);
@import url(./blocks/about.css);
@import url(./blocks/footer.css);
@import url(./blocks/top-service.css);
@import url(./blocks/page-service.css);
@import url(./blocks/partners.css);